    body {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background: linear-gradient(135deg, #035096 0%, #03315c 100%);
        color: white;
        text-align: center;
    }
    .card{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        padding: 30px;
        backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    button{
        background-color: #7FFF00;
        color: white;
        border: none;
        padding: 12px 30px;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 20px;
        transition: 0.3s;
        backdrop-filter: blur(10px);
    }
    button:hover{
        transform: scale(1.05);
        background-color: #344b1d;
    }
    p{
        font-size: 18px;
        line-height: 1.5;
        margin: 20px 0;
    }
    .contador-texto{
        font-size: bold;
        color: #7FFF00;
    }
